*{
    margin: 0;

}
button{
    cursor: pointer;
}

button:hover{
    background-color: rgba(255, 255, 255, 0.116);
}


body{
   font-family: "Inter", sans-serif;
}

.navigation{
    display: flex;
   width: 100%;
   max-height: 92px;
  

justify-content: space-between;
    

}

.navigation ul{
    list-style: none;
    display: flex;
    gap: 32px;
    margin: 32px;
    color: black;
    
}
.navigation img{
    margin: 16px 0 16px 120px ;


}

.navigation button{
    margin: 24px 120px;
   background-color: #1f8d4d;
   color: white;
   font-size: 16px;
   font-weight:500;
   border: none;
   border-radius: 5px;
   width: 164px;
   height: 44px;
}
.navigation button:hover{
    background-color: #00193134;
}

.navigation li a{
    color: black;
text-decoration: none;
}

.hero-container{
   background-image: linear-gradient(
      rgba(0, 0, 0, 0.055), 
      rgba(0, 0, 0, 0.103)
    ),
    url(./B13-A01-Knowledge-Vault/assets/hero-bg.png); 
   height: 674px;
   background-repeat: no-repeat;
   background-size: cover;
   
  
   
}
.early-btn{
    font-size: 16px;
    font-weight: 500;
    padding: 8px 12px 8px ;
    color: rgb(14, 173, 14);
border-radius: 30px;
border: none;
height: 35px;
    text-align: center;
    display: inline-flex;
   gap: 6px;
}
.early-btn img{
    width: 16px;
    border-radius: 0px;

}

.hero{
    text-align: center;
    padding: 115px 120px 180px 120px;
}

.hero p{ 
  
font-size: 18px;
font-weight: 400;
line-height: 24px;
text-align: center;
color: white;
margin: 16px auto;

}

.hero h1{
    
font-style: Bold;
font-size: 72px;
font-weight: 700;
line-height: 84px;
text-transform: capitalize;
margin: 16px auto;
}

.hero .heading1{
    color: aliceblue;
}
.hero .heading2{
    color: rgb(0, 128, 53);
}

.hero-button{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 32px;
    align-items: ;
    
   
}


.hero-button1 {
    color: rgb(255, 243, 243);
    background-color: #1c944e;


    width: 250px;
    height: 52px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    gap: 10px;
    padding: 16px;
    border-radius: 5px;
    border: none;
    

}
.hero-button2 {
    color: white;
    background-color: transparent;

    width: 198px;
    height: 52px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    margin-bottom: 16px;
    border-radius: 5px;
    border: 0.5px solid white;

}

.hero-button2 img{
    
    padding: 12px;
    width: 20px;
}
.hero-button1 img{
    width: 20px;
    height: 20px;
}

.hero-button1, .hero-button2{
    display: inline-flex;
    align-items: center;
    
    
}

.note{
    text-align: center;
}
.note-card{
    display: flex;
   width: 1360px;
   
   gap: 24px;
   margin: 42px auto;
}
.note h1{
 font-size: 48px;
 font-weight: bold;
 margin-top: 35px;
 color: #001931;
}

.note-card img{
 
    background-color: #F95555;
    padding: 14px;
    border-radius: 70px;
}


.note-card div{
    width: 322px;
    
    border-radius: 8px;
box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.06);
background: rgba(255, 255, 255, 1);
padding: 24px;

}
.note p{
    padding-top: 16px;
    font-size: 16px;
    height: 20px;
    color: #627382;
}
.brain{
    max-width: 1360px;
    height: 600px;
    display: flex;
    margin: 0 auto ;
    
}


.brain li{
list-style: none;
}

.brain-info{
    padding: 102px;
}


.brain h3{
   font-size: 16px;
   font-weight: 400;
   color: #30B868;
}

.brain h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    height: 117px;

    padding-top: 16px;
}


.brain p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    padding-top: 16px;
}
.brain ul{

    padding-left: 0;
    padding-top: 40px;
    gap: 16px;
    display: flex;
    flex-direction: column;
}
.brain li{
    align-items: center;
    display: flex;
    gap: 6px;
    font-size: 16px;

    font-weight: 400;
}

.early-access{

    max-width: 1280px;
    height: 384px;
    padding: 40px;
    background-color: #F7F6F2;
    text-align: center;
    margin: 50px auto;
    display: flex;
    justify-content: center;

}

.early-info h2{
    font-size: 40px;
    font-weight: bold;
    padding-top: 80px;


}

.early-info p{
    font-size: 16px;
    color: #627382;

    line-height: 24px;
    padding-top: 16px;

}

.early-info button{
    width: 194px;
    height: 52px;
    text-align: center;
   margin-top: 24px;
    background-color: #229e56;
    color: white;
    font-size: 16px;
    font-weight: 600px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 5px;
}

.early-info button:hover{
    background-color: #62738233;
}

.footer-container{
    background-color: rgb(9, 9, 66);
   
    
}
.footer-info{
    display: flex;
    justify-content: space-between;
    max-width: 1360px;
    margin: 120px auto;
    padding: 120px 120px 0 120px;

}
.footer-social img{
    background-color: white;
    width: 20px;
    height: 20px;
    
    border-radius: 50px;
    padding: 14px;
   
}

.footer-social p{
    font-size: 20px;
    font-weight: 600;
    color: white;

}

.copyright{
    padding-top: 0;
    text-align: center;
    max-width: 1360px;
    margin: 0 auto;

}
.copyright p{
    color: white;
    font-size: 16px;
    padding: 30px;

}