*{
    margin: 0;

}

.navigation{
    display: flex;
   width: 100%;
   max-height: 92px;
  

justify-content: space-between;
    

}

.navigation ul{
    list-style: none;
    display: flex;
    gap: 32px;
    margin: 32px;
    color: black;
    
}
.navigation img{
    margin: 16px 0 16px 120px ;


}

.navigation button{
    margin: 24px 120px;
   background-color: #30B868;
   color: white;
   font-size: 16px;
   font-weight:600;
}

.navigation li a{
    color: black;
text-decoration: none;
}

.hero-container{
   background-image: url(./B13-A01-Knowledge-Vault/assets/hero-bg.png); 
   height: 674px;
   
}
.not{
    display: block;
}

