*{
    margin: 0;

}
body{
   font-family: "Inter", sans-serif;
}

.navigation{
    display: flex;
   width: 100%;
   max-height: 92px;
  

justify-content: space-between;
    

}

.navigation ul{
    list-style: none;
    display: flex;
    gap: 32px;
    margin: 32px;
    color: black;
    
}
.navigation img{
    margin: 16px 0 16px 120px ;


}

.navigation button{
    margin: 24px 120px;
   background-color: #30B868;
   color: white;
   font-size: 16px;
   font-weight:600;
}

.navigation li a{
    color: black;
text-decoration: none;
}

.hero-container{
   background-image: linear-gradient(
      rgba(0, 0, 0, 0.055), 
      rgba(0, 0, 0, 0.103)
    ),
    url(./B13-A01-Knowledge-Vault/assets/hero-bg.png); 
   height: 674px;
   background-repeat: no-repeat;
   background-size: cover;
   
  
   
}
.early-btn{
    font-size: 16px;
    font-weight: 500;
    padding: 8px 12px 8px 36px;
    color: rgb(7, 88, 7);
border-radius: 30px;
border: none;
height: 35px;
    text-align: center;
}

.hero{
    text-align: center;
    padding: 115px 120px 180px 120px;
}

.hero p{ 
  
font-size: 18px;
font-weight: 400;
line-height: 24px;
text-align: center;
color: white;
margin: 16px auto;

}

.hero h1{
    
font-style: Bold;
font-size: 72px;
font-weight: 700;
line-height: 84px;
text-transform: capitalize;
margin: 16px auto;
}

.hero .heading1{
    color: aliceblue;
}
.hero .heading2{
    color: rgb(0, 128, 53);
}

.hero-button{
    padding-top: 32px;
    
    align-items: center;
}

.hero-button1 {
    color: white;
    background-color: #1c944e;

    width: 251px;
    height: 52px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    
    

}
.hero-button2 {
    color: white;
    background-color: transparent;

    width: 198px;
    height: 52px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    margin-bottom: 16px;

}

.hero-button2 img{
    width: 30px;
    height: 30px;
    color: white;
    border: 1px solid white;
    
padding: 12px 16px 12px 16px;
    
}